.about
  max-width 1170px
  padding 0 100px
  padding-top 80px
  margin 0 auto
  box-sizing border-box

.about__heading
  margin-bottom 44px
  font-family "Georgia Regular", Arial, sans-serif
  font-size 32px
  line-height 38px
  font-weight 400
  color #4E5665
  text-align center

.about__info
  margin-bottom 100px
  font-family "Helvetica Regular", Arial, sans-serif
  font-size 16px
  line-height 28px
  color #505050

.about__beaches
  min-height 430px
  padding 90px 0
  background-image url("../img/webp/beach.webp")
  background-position 0 50%
  background-repeat no-repeat
  background-size 570px 427px
  box-sizing border-box
  display flex
  justify-content flex-end

.no-webp .about__beaches
  background-image url("../img/min/beach.png")

.no-js .about__beaches
  background-image url("../img/min/beach.png")

@media (max-width: $tablet)
  .about
    max-width 800px
    padding 0 50px
