.cadillacs
  padding 80px 0
  border-bottom 1px solid rgba(208,212,216,.5)

.cadillacs__heading
  margin-bottom 44px
  font-family "Georgia Regular", Arial, sans-serif
  font-size 32px
  line-height 38px
  font-weight 400
  color #4E5665
  text-align center

.cadillacs__photo
  max-width 100%
  height auto
  margin-bottom 50px

.cadillacs__content
  width 100%
  max-width 970px
  margin 0 auto
  font-family "Helvetica Regular", Arial, sans-serif
  font-size 16px
  line-height 28px
  color #505050

