.card
  width 50%
  padding 40px
  max-width 470px
  background-color #ffffff
  box-shadow  0 2px 40px rgba(0, 0, 0, 0.2)
  box-sizing border-box
  position relative

  &::before
    content ""
    width 33px
    height 33px
    border-top 3px solid #ECB84C
    border-right 3px solid #ECB84C
    position absolute
    top 19px
    right 19px
    box-sizing border-box

  &::after
    content ""
    width 33px
    height 33px
    border-left 3px solid #ECB84C
    border-bottom 3px solid #ECB84C
    position absolute
    bottom 19px
    left 19px
    box-sizing border-box

.card__heading
  margin 0
  margin-bottom 15px
  font-family "Georgia Regular", Arial, sans-serif
  font-size 24px
  line-height 25px
  font-weight 400
  color #4E5665

.card__info
  font-family "Helvetica Regular", Arial, sans-serif
  font-size 16px
  line-height 28px
  color #505050