.description
  max-width 1170px
  margin 0 auto
  padding 0 100px
  padding-bottom 80px
  border-bottom 1px solid rgba(208,212,216,.5)
  box-sizing border-box

.description__heading
  margin-bottom 40px
  font-family "Georgia Regular", Arial, sans-serif
  font-size 32px
  font-weight 400
  color #4E5665
  text-align center

.description__info
  margin-bottom 60px
  font-family "Helvetica Regular", Arial, sans-serif
  font-size 16px
  line-height 28px
  color #505050

.description__more
  color #ECB84C
  text-decoration none
  position relative

  &::after
    content "››"
    position absolute

  &:visited
    color #ECB84C

  &:hover
    font-weight 700
    text-decoration underline

@media (max-width: $tablet)
  .description
    max-width 800px
    padding 0 50px