.legend
  width 100%
  height 30px
  padding 0
  margin 0
  position relative
  bottom 15px
  overflow hidden
  list-style none

.legend__item
  position absolute
  top 0
  left 50%
  transform translateX(-50%)
  opacity 0
  transition all 0.4s ease-out

.legend__paragraph
  width auto
  padding 0 40px
  margin 0
  font-family "Georgia Regular", Arial, sans-serif
  font-size 24px
  color #ffffff
  text-shadow 0 2px 1px rgba(0, 0, 0, 0.5)
  position relative
  transition all 0.4s ease-out

  &::before
    content ""
    width 50vw
    height 2px
    position absolute
    top 50%
    left -50vw
    background-color black

  &::after
    content ""
    width 50vw
    height 2px
    position absolute
    top 50%
    right -50vw
    background-color black

  &--cuba::before
    background-color #ECB84C

  &--cuba::after
    background-color #ECB84C

  &--burgundy::before
    background-color #8C001A

  &--burgundy::after
    background-color #8C001A

  &--antarctica::before
    background-color #ffffff

  &--antarctica::after
    background-color #ffffff

@media (max-width: $tablet)
  .legend
    bottom 13px

  .legend__paragraph
    font-size 20px

@media (max-width: 950px)
  .legend
    bottom 10px

  .legend__paragraph
    padding 0 20px
    font-size 18px
