.navigation-footer
  margin-bottom 90px
  flex-grow 1

.navigation-footer__list
  padding 0
  margin 0
  display flex
  justify-content space-around

.navigation-footer__item
  display flex
  flex-direction column

  &:nth-child(1)
    width 11%

  &:nth-child(2)
    width 14%

  &:nth-child(3)
    width auto

  &:nth-child(4)
    width 30%

.navigation-footer__heading
  padding 0
  margin 0
  margin-bottom 20px
  font-family "Helvetica Regular", Arial, sans-serif
  font-size 15px
  line-height 20px
  font-weight 400
  text-transform uppercase
  color #4E5665

.navigation-footer__link
  margin-bottom 8px
  font-family "Helvetica Regular", Arial, sans-serif
  font-size 14px
  line-height 19px
  color #505050
  text-decoration none
  display flex
  align-items center
  justify-content flex-start

  &:hover
    font-family "Avenir Next", Arial, sans-serif
    color #ECB84C
    text-decoration underline

.navigation-footer__icon
  margin-right 12px

.navigation-footer__link p
  padding 0
  margin 0

@media (max-width: $tablet)
  .navigation-footer
    width 100%
    margin-bottom 0

  .navigation-footer__list
    width 100%
    flex-wrap wrap

  .navigation-footer__item
    margin-bottom 20px

    &:nth-child(1)
      width 40%

    &:nth-child(2)
      width 40%

    &:nth-child(3)
      width 40%

    &:nth-child(4)
      width 40%