.page-header
  width 100%
  background-repeat no-repeat
  background-position 50% 0
  background-size cover
  box-sizing border-box
  position relative
  overflow hidden
  transition all 0.4s ease-out

  &--cuba
    background-image url("../img/webp/bg-cuba.webp")

  &--burgundy
    background-image url("../img/webp/bg-burgundy.webp")

  &--antarctica
    background-image url("../img/webp/bg-antarctica.webp")

.page-header__wrapper
  width 100%
  max-width 1440px
  height 100vh
  max-height 700px
  padding 40px
  margin 0 auto
  box-sizing border-box

.page-header--cuba
  & .slider-header__item--cuba
    opacity 1
    z-index 2

  & .legend__item--cuba
    opacity 1
    z-index 2

.page-header--burgundy
  & .slider-header__item--burgundy
    opacity 1
    z-index 2

  & .legend__item--burgundy
    opacity 1
    z-index 2

.page-header--antarctica
  & .slider-header__item--antarctica
    opacity 1
    z-index 2

  & .legend__item--antarctica
    opacity 1
    z-index 2

.no-webp
  & .page-header--cuba
    background-image url("../img/min/bg-cuba.png")

  & .page-header--burgundy
    background-image url("../img/min/bg-burgundy.png")

  & .page-header--antarctica
    background-image url("../img/min/bg-antarctica.png")

.no-js
  & .page-header--cuba
    background-image url("../img/min/bg-cuba.png")

  & .page-header--burgundy
    background-image url("../img/min/bg-burgundy.png")

  & .page-header--antarctica
    background-image url("../img/min/bg-antarctica.png")