.photos
  padding-top 80px

.photos__wrapper
  width 100%
  max-width 970px
  padding-bottom 48px
  margin 0 auto
  position relative

  &::after
    content ""
    width 270px
    height 1px
    position absolute
    bottom 0
    left 50%
    transform translateX(-50%)
    background-color #D0D4D8

.photos__heading
  margin-bottom 44px
  font-family "Georgia Regular", Arial, sans-serif
  font-size 32px
  line-height 38px
  font-weight 400
  color #4E5665
  text-align center

.photos__content
  font-family "Helvetica Regular", Arial, sans-serif
  font-size 16px
  line-height 28px
  color #505050