.slider-header
  height 100%
  padding 0
  margin 0
  overflow hidden

.slider-header__item
  height 100%
  border 2px solid
  border-bottom none
  display none
  position relative
  overflow-x hidden
  transition all 0.4s ease-out

  &--cuba
    border-color #ECB84C

  &--burgundy
    border-color #8C001A

  &--antarctica
    border-color #ffffff


.slider-header__header
  padding 0
  margin 0
  font-family "Times Bold", Arial, sans-serif
  font-size 200px
  color #ffffff

