.slider-header
  height 100%
  padding 0
  margin 0
  overflow hidden
  position relative

.slider-header__item
  width 100%
  height 100%
  border 2px solid
  border-bottom none
  display flex
  flex-direction column
  justify-content center
  align-items center
  position absolute
  top 0
  left 0
  overflow-x hidden
  transition all 0.4s ease-out
  box-sizing border-box
  opacity 0

  &--cuba
    border-color #ECB84C

  &--burgundy
    border-color #8C001A

  &--antarctica
    border-color #ffffff


.slider-header__header
  padding 0
  margin 0
  font-family "Times Bold", Arial, sans-serif
  font-size 200px
  color #ffffff
  text-shadow 4px 4px 4px rgba(0, 0, 0, 0.5)

.slider-header__legend
  font-family "Georgia Regular", Arial, sans-serif
  font-size 24px
  color #ffffff
  position relative


