.statistic
  padding 0
  display flex
  justify-content center
  align-items center
  list-style none

.statistic__item
  margin-right 160px

  &:last-child
    margin-right 0

  &:hover .statistic__icon
    transform scale(1.15)

.statistic__icon
  width 80px
  height 80px
  margin-bottom 32px
  transition all 0.4s ease-out

.statistic__stat
  padding 0
  margin 0
  margin-bottom 4px
  font-family "Helvetica Regular", Arial, sans-serif
  font-size 22px
  line-height 30px
  color #4E5665
  text-align center

.statistic__about
  padding 0
  margin 0
  font-family "Helvetica Regular", Arial, sans-serif
  font-size 14px
  line-height 16px
  color #909090
  text-align center