@font-face
  font-family "Helvetica Regular"
  font-style normal
  font-weight 400
  src url("../fonts/helvetica-regular.woff") format("woff"), url("../fonts/helvetica-regular.woff2") format("woff2")
  font-display swap

@font-face
  font-family "Times Bold"
  font-style normal
  font-weight 400
  src url("../fonts/times-bold.woff") format("woff"), url("../fonts/times-bold.woff2") format("woff2")
  font-display swap

@font-face
  font-family "Georgia Regular"
  font-style normal
  font-weight 400
  src url("../fonts/georgia-regular.woff") format("woff"), url("../fonts/georgia-regular.woff2") format("woff2")
  font-display swap

@font-face
  font-family "Avenir Next"
  font-style normal
  font-weight 400
  src url("../fonts/avenir-next.woff") format("woff"), url("../fonts/avenir-next.woff2") format("woff2")
  font-display swap

